/* You can override SASS variables here. */

// @import "plugins/dark";

$more: #6bf;
$grey: rgba(0, 0, 0, 0.1);
$background-grey: rgba(250, 250, 250, 1);
$yellow: rgb(245, 227, 116);
$orange: rgb(219, 130, 88);
$green: rgb(161, 196,96);
$blue: rgb(48, 119,186);
$purple: rgb(96, 40, 94);
