<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
{{- if .Get "link" -}}
<a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
{{- end -}}

<picture>
{{ $alt := (.Get "caption") }}
{{ if strings.HasSuffix (.Get "src") ".svg" }}
<img src="{{ (resources.Get (.Get "src")).RelPermalink }}" alt="{{ $alt }}" />
{{ else }}
{{ with resources.Get (.Get "src") }}
<source srcset="{{ (.Resize "200x webp q100").RelPermalink }}" type="image/webp" media="(max-width: 200px)" />
<source srcset="{{ (.Resize "200x q100").RelPermalink }}" media="(max-width: 200px)" />

<source srcset="{{ (.Resize "400x webp q100").RelPermalink }}" type="image/webp" media="(max-width: 400px)" />
<source srcset="{{ (.Resize "400x q100").RelPermalink }}" media="(max-width: 400px)" />

<source srcset="{{ (.Resize "600x webp q100").RelPermalink }}" type="image/webp" media="(max-width: 600px)" />
<source srcset="{{ (.Resize "600x q100").RelPermalink }}" media="(max-width: 600px)" />

<source srcset="{{ (.Resize "800x webp q100").RelPermalink }}" type="image/webp" media="(max-width: 800px)" />
<source srcset="{{ (.Resize "800x q100").RelPermalink }}" media="(max-width: 800px)" />

<source srcset="{{ (.Resize "1200x webp q100").RelPermalink }}" type="image/webp" media="(max-width: 1200px)" />
<source srcset="{{ (.Resize "1200x q100").RelPermalink }}" media="(max-width: 1200px)" />

<source srcset="{{ (.Resize (printf "%s%s" (string .Width) "x webp q100")).RelPermalink }}" type="image/webp" />
<img src="{{ .RelPermalink }}" alt="{{ $alt }}"/>
{{ end }}
{{ end }}
</picture>


{{- if .Get "link" }}</a>{{ end -}}
{{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
<figcaption>
    {{ with (.Get "title") -}}
    <h4>{{ . }}</h4>
    {{- end -}}
    {{- if or (.Get "caption") (.Get "attr") -}}<p>
    {{- .Get "caption" | markdownify -}}
    {{- with .Get "attrlink" }}
    <a href="{{ . }}">
        {{- end -}}
        {{- .Get "attr" | markdownify -}}
        {{- if .Get "attrlink" }}</a>{{ end }}</p>
    {{- end }}
</figcaption>
{{- end }}
</figure>